# BACKEND - CAMILO's ENV
/backend/env_APP/

# BACKEND - KAREN's ENV
/backend/venv_backend

# CONFIG
/backend/my_app/core_fun/config.py

# CACHE
__pycache__/
.DS_Store

# FRONTEND
/frontend/.expo/
/frontend/node_modules/